@model IEnumerable<Lib.Spacl.org.Model.tblProduct>
@{
    ViewBag.Title = "AddNewProduct";
}

<div class="container">
    <h2>AddNewProduct</h2>
    <div class="row">
        <div class="col-md-6">
            <form id="AddNewProduct" method="post" enctype="multipart/form-data" onsubmit="return AjaxPost(this)">

                <label>Title</label>
                <input id="ProductName" name="ProductName" class="form-control" placeholder="Product Name" />
                <label>Price</label>
                <input id="PPrice" name="PPrice" class="form-control" placeholder="Product Price" />
                <label>ImageUpload</label>
                <input id="ImageUpload" type="file" name="ImageUpload" class="form-control" placeholder="ImageUpload" />

                <input type="submit" value="Add" class="btn btn-default" />

            </form>
        </div>

    </div>
</div>
<br />
<br />
<br />
<div class="container">
    <h2 class="text-center">Product List</h2>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            int price = Convert.ToInt32(item.PPrice);
            <div class="col-md-3" style="margin-bottom:25px">
                <div class="thumbnail">
                    <div class="image">
                        <img class="img-responsive" src="~/AppFile/Images/@item.PicUrl" height="350" width="240" />
                    </div>
                    <div class="caption" style="border-top:3px solid #808080">
                        <h3><a href="#">@item.ProductName</a></h3>
                        <h4>@price.ToString("F2")</h4>
                    </div>
                </div>
            </div>
        }
    }
</div>
 
<script>


    function AjaxPost(formData) {
        var ajaxConfig = {
            type: "post",
            url: "/Products/SaveData",
            data: new FormData(formData),
            success: function (result) {
                alert(result);
                window.location.href = "/Products/AddNewProduct"
            }

        }
        if ($(formData).attr('enctype') == "multipart/form-data") {
            ajaxConfig["contentType"] = false;
            ajaxConfig["processData"] = false;

        }
        $.ajax(ajaxConfig);
        return false;
    }

 
</script>
