@{
    ViewBag.Title = "Index";
}

<div style="color:forestgreen;padding:10px; text-align:justify">
    <center>
        <div class="section-title">
            <h3 style="font-size: 40px;">
                <b style="color: black;">Welcome</b> <b style="color: black;">To</b> <br /> <b style="color: #ed1c24;">
                    <span style="color: #ed1c24;"> B</span><span style="color: #007f3d;">angladesh</span>
                    S<span style="color: #007f3d;">eed</span> <span style="color: #ed1c24;"> A</span><span style="color: #007f3d;">ssociation</span>
                </b>
            </h3>
            <p><span style="color:black">"Good Seed, Good Crop"</span></p>
            <p><span style="color:black">@*"Packaging is the science, art and technology of enclosing or protecting products for distribution, storage, sale, and use"*@</span></p>
        </div>
        <br />
        <img src="~/Images/Logo/TBSA.png" /> 
    </center>
</div>


@*<div class="row" style="max-width:1100px;">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Employee</span>
                    <span class="info-box-number">2500</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-plus"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">New join</span>
                    <span class="info-box-number">20</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-minus-circle"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Notice Period</span>
                    <span class="info-box-number">4</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total Present</span>
                    <span class="info-box-number">2000</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>

    <div class="row" style="max-width:1100px;">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-anchor"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total Late</span>
                    <span class="info-box-number">300</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-atlas"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Upcomming event</span>
                    <span class="info-box-number">2</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Notice Period</span>
                    <span class="info-box-number">4</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <div class="card-title btn-success">Leave Balance</div>

                <table class="table">
                    <tr>
                        <td>LType</td>
                        <td>Total</td>
                        <td>Consumed</td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <td>AL</td>
                        <td>10</td>
                        <td>4</td>
                        <td>6</td>
                    </tr>
                </table>
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>



    <div class="row" style="max-width:1100px;">
        <div class="col-lg-6" ">
            <div class="info-box">
                <img src="@Url.Action("GetChartImage")" />
            </div>User Registrations
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-lg-6">
            <div class="info-box">
                <img src="@Url.Action("GetBubbleChartImage")" />
            </div>
            <!-- /.info-box -->
        </div>

    </div>
    <div class="row" style="max-width:1100px;">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>5</h3>

                    <p>Leave Application</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>

                    <p>Bounce Rate</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>4</h3>

                    <p>Time Approval Request</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>65</h3>

                    <p>Unique Visitors</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>*@