@model BSA.Models.PasswordChangeModel
@{
    ViewBag.Title = "Change Pawword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div style="padding: 10px;margin-left: 250px;width: 40%;background-color:#FFFFFF">
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "Old Password" } })
                    @*@Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="password" id="txtNewPassword" placeholder="Enter passward" class="form-control" name="NewPassword">
                    @*@Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "New Password", @id = "txtNewPassword" } })*@
                    @*@Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @*@Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "Confirm Password", @id = "txtConfirmPassword" } })*@
                    <input type="password" id="txtConfirmPassword" placeholder="Confirm Passward" class="form-control" name="ConfirmPassword">
                    @*@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Change Password" class="btn btn-success" style="width:100%" />
                </div>
            </div>

            @if (ViewBag.successMessage != null)
            {
                <div class="alert alert-success text-center">
                    <strong>Success!</strong>@(" "+ViewBag.successMessage)
                </div>
            }
            @if (ViewBag.errorMessage != null)
            {
                <div class="alert alert-danger text-center">
                    <strong>Error!</strong>@(" " + ViewBag.errorMessage)
                </div>
            }

            @*<input type="password" id="txtNewPassword" placeholder="Enter passward" name="pass">
                <input type="password" id="txtConfirmPassword" placeholder="Confirm Passward" name="confpass">*@
            <div class="registrationFormAlert" style="color:green;" id="CheckPasswordMatch">
                <script>
                    function checkPasswordMatch() {
                        var password = $("#txtNewPassword").val();
                        var confirmPassword = $("#txtConfirmPassword").val();
                        if (password != confirmPassword)
                            $("#CheckPasswordMatch").html("Passwords does not match!");
                        else
                            $("#CheckPasswordMatch").html("Passwords match.");
                    }
                    $(document).ready(function () {
                        $("#txtConfirmPassword").keyup(checkPasswordMatch);
                    });
                </script>
            </div>
        </div>
    </div>
}
