
@{
    ViewBag.Title = "Exist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 


<div style="padding-top: 100px; padding-bottom: 300px">
    <h2><span style="padding:8px" class="alert-info">You are already Registered</span></h2>
</div>

