
@{
    ViewBag.Title = "NotExist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="padding-top: 100px; padding-bottom: 300px">
    <h2><span style="padding:8px" class="alert-danger">Sorry!! Would you check your BSA Dealer/ Member ID is OK ?</span></h2>
</div>

