
@{
    ViewBag.Title = "SaveData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<div style="padding-top:100px;padding-bottom:300px">
    <h2><span style="padding:8px" class="alert-success">AGM Registration 2021 has successfully Completed</span></h2>
</div>