
@{
    /**/

    ViewBag.Title = "CustomerStatusReports";
}

<h2>CustomerStatusReports</h2>




<div class="col-md-6">
    @Html.TextBox("searchText", null, new { @autocomplete = "off", @class = "form-control pull-right", @placeholder = "Search by BIN/NID" })<br />
    <a class="btn btn-success" href="@Url.Action("CustomerStatusReportsActionResult", "KttlCustomers")" title="CustomerStatusReports">
        <i class="fa fa-download" aria-hidden="true"></i>
        <span>CustomerStatusReports</span>
    </a>
</div>
