
@{
    ViewBag.Title = "AdvisoryCommittee";
}

<h2>Advisory Committee</h2>

<style>
    .vhr {
        border-right: 1px solid #333;
        height: 100%;
    }

    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }
</style>
<br />
<div class="row">
    <div class="col-md-12 ">
        <div class="panel panel-info bxshadow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <b>Advisory Committee</b>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-11">
                    <img src="~/Images/BSAAdvisoryCommittee.PNG" width="800" alt="Advisory Committee" />
                </div>
            </div>
        </div>
    </div>
</div>


