
@{
    ViewBag.Title = "BoardOfDirector";
}
<br />
<style>
    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }
</style>
<div class="row bxshadow"> 
    <div class="col-md-push-12">
        <h2>Board Of Director</h2>
        <div class="col-md-5">
            <b> Chairman's Name </b>is the Chairman of BSA. He is also the director of other concerns of BSA. He was born in a respectable Muslim family of District. He is truly a dedicated business personality and has been in the business arena since 2015. He is a person of immense drive and great ambition with high integrity.
        </div>
        <div class="col-md-5">
            <b> MD Name </b> is the Managing Director of the company. He/She is also the director of other concerns of BSA. He/She is young, dedicated and enthusiastic, a person of enormous drive and great ambition.
        </div>

        <div class="col-md-2">

        </div>
    </div>
</div>

