
@{
    ViewBag.Title = "CoreValuesOfBsa";
}
<style>
    .vhr {
        border-right: 1px solid #333;
        height: 100%;
    }
    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }
</style>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info bxshadow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-10">
                        <b>CORE VALUES OF BSA</b>
                    </div> 
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-10">
                    
                    <p> In order to effectively deliver on the identified Strategic Initiatives and in an effort to be known in the market for effective service delivery, BSA will embrace the following core values:-</p>

                    <p><b>Market Orientation:</b> The efforts of BSA must remain directed towards sustainable development. BSA plans to be the private sector engine for bringing in a change in farmers’ economic and social well being with more investment and better competitiveness for the members of the seed industry</p>

                    <p><b>Solidarity:</b> All BSA business operations are driven by mutual respect and honesty. BSA strives to embrace a strong sense of  coherence and ownership</p>

                    <p> <b>Cooperation:</b> BSA believes in the power of coordinated team work and the synergies arising thereof.</p>

                    <p><b>Commitment:</b> BSA strives for providing result oriented quality service in a the most effective and efficient manner.</p>

                    <p><b>Communication:</b> BSA believes in offering timely and transparent information to farmers, BSA members, partners and stakeholders.</p>

                    <p><b> Social and environmental responsibility:</b>  BSA shall continue to endeavor to successfully drive, encourage and embrace the highest possible social and environmental standards. To this end, BSA shall continue to strive to remain a responsible social and environmental steward.</p>

                </div> 
            </div>
        </div>
    </div>
</div>
