
@{
    ViewBag.Title = "CurrentVacancy";
}
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info bxshadow">
            <div class="panel-heading">
                <b>Current Vacancy</b>
            </div>
            <div class="panel-body">
                <h4>No Vacancy Available</h4>
            </div>
        </div>
    </div>
</div>
<style>
    #id {
        border:dotted;
        border-radius: 100px;
        width: 100px;
        height: 100px;
    }

    .flex-grid .row .cell.colspan2 {
        -webkit-flex: 0 0 16.66666666%;
        flex: 0 0 16.66666666%;
    }

   
    #circle {
        width: 200px;
        height: 200px;
        background-color: #01ab52;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    .circle1-icon {
        padding: 0.3rem;
        margin-top: 2rem;
        border-radius: 50%;
        background-color: #019455;
    }
    .place-left {
        float: left !important;
    }
    .circle1-content {
        padding-top: 2rem;
    }
    #number {
        font-size: 2rem;
        padding-right: 2rem;
    }
    #text {
        font-size: .9rem;
        opacity: .6;
        padding: 0.5rem 1.2rem;
    }

    .align-center {
        text-align: center;
    }

    .padding10 {
        padding: 0.625rem;
    }

#circle2 {
    margin-top: -11.5rem;
}


    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }
</style>
 
@*<div class="row">
    <div class="cell colspan2 padding10">
        <div id="circle" class="align-center spin4b">
            <div class="circle1-icon place-left">
                <span class="mif-yelp mif-2x fg-white"></span>
            </div>
            <div class="circle1-content">
                <div id="number">5K<span id="plus">+</span></div>
                <div id="text">Products are Marketed Presently in Bangladesh</div>
            </div>
        </div>
        <div id="circle2"></div>
    </div>
</div>*@