
@{
    ViewBag.Title = "About us";
}

<br />
<style>
    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }
    .title{font-weight:bold;background-color:palegreen}
</style>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info bxshadow">
            <div class="panel-heading"><b>About us</b></div>
            <div class="panel-body"> 
                 
                <p>This <b>Business Plan</b> is a general guideline for Bangladesh Seed Association (BSA).Bangladesh Seed Association (BSA) came into being with a vision to serve the nation by ensuring farmers reach to quality seeds through its members. Bangladesh Seed Growers, Dealers and Merchants Association (BSGDMA) registered with Registrar of Joint Stock Companies in 1999 and in 2011  transformed into BSA accredited by MoC and FBCCI. Following this renaming, Seed Wing of Ministry of Agriculture(MoA) has made a circular notifying all concerned with seed business that from now BSA will be the only association for private seed sector business recognized by MoA. Subsequently BSA called a meeting of all similar association and urged all to dissolve their respective organization and join BSA as new members.</p>
                <p><b>Objective of this business plan</b> is to formulate an action plan so that BSA can be established in a deep-rooted manner and as a true representative of private seed sector in the country.</p>
                <p>This document <b>consists of six sections</b> which highlight the present state of each organizational aspect of BSA. First section deals with the organizational history of BSA from the very beginning of seed traders’ association to the present day state. Second section highlights the services expected by the members of BSA. This section will help BSA to identify and prioritize its activities according to the members’ expectations and aspirations. The third section tries to identify the markets and the stakeholders who have interests in BSA activities and whose interests BSA should look into.</p>
                <p> All the strategic activities that could help <b>BSA</b> to develop itself into a sustainable association are listed in the fourth section of this plan. It delineates what BSA can achieve in the next five years to achieve the aspirations. As BSA membership is commercial as well as diverse  and operate in an environment of constant change so BSA must develop all the capacity needed to be in line  with changing environmental,  policy and technology. All the strategic activities identified in this section take into account that BSA members require a peak industry body which will provide dynamic and progressive leadership, advocacy, adaptation and ultimately solutions into the future.</p>
                <p><b>Fifth section of this plan</b> presents the organizational structure and salient features of executive authority of the office bearers of BSA. Since BSA’s organizational structure is determined by the Articles laid down by Memorandum of Association so no change has been suggested. If situation arises then BSA Executive Committee can bring in changes through an Extra-Ordinary General Meeting.</p>
                <p><b>The last section of this plan </b>deals in very broadest sense the fundraising activities and financial planning of BSA. At the initial stage, BSA can seek funding from bilateral and multilateral organizations who might be interested in the development of seed sector. To raise funds BSA can come up with package training programs for every stakeholder in the seed industry. BSA can organize training on different aspects of seed business such as seed quality control, seed processing, seed preservation etc.  BSA may change the present subscription rates and make it more pragmatic.</p>
                 
            </div>
        </div>
    </div>

     
</div>
