
@{
    ViewBag.Title = "MDMesseage";
}
 

<br />
<style>
    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }

    .bxshadowTitle { 
        border-radius: 20px;
        padding: 10px;
        height:50px;
        font-weight:300;
        font-size:larger;
    }
    .divSpace {
        padding: 30px;
    }
</style>
<div class="row bxshadow"> 
 
    <div class="col-md-12">

        <div class="alert alert-success bxshadowTitle"> <b> Messeage from BSA President  </b></div>
        <div class="col-md-3">
            <img src="~/Images/ProfileImage.jpg" alt="MD's Image" />
        </div>
        <div class="col-md-9">
            <b> Mr. X </b>is the Chairman of BSA.
            <p> BSA provides one stop services for your trade and industry. Depending on the size and field of your organization, we have different products and services to meet your requirements. We provide the optimum and customized solutions made for your organization.</p>

            <p> BSA began its business operation in 2012 as a sole proprietorship business. In 2015, BSA was registered in Joint Stock Company under the Act 1994 a private limited company.</p>

            <p> BSA is a market leading Industrial Supply & Distribution Company specializing in the Procurement, Supply & Distribution of diversified products & Services used primarily in the agro based and other Industries as well as other commercial purposes in Bangladesh.</p>

            <p> Throughout these industry sectors, we endeavour to maintain our reputation as one of the leading suppliers & distributors of high quality selected industrial products sourced by our procurement experts at the request of our valued customers. We work with some of the largest companies nationally & globally to provide superior added-value products and we are committed to focus on products and markets where we can achieve and sustain leadership positions.</p>
        </div>
    </div>
</div>


