
@{
    ViewBag.Title = "MemberList";
}

<h2>Member List</h2>
<hr style="border-color:#25ea94; padding:0px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />

<ul>
    <li>Industry</li>
    <li>Dealer</li>
    <li>Associate</li>
</ul>

