
@{
    ViewBag.Title = "MissionVision";
}

<br />

<style>
    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info bxshadow">
            <div class="panel-heading"><b>Mission & Vision </b></div>
            <div class="panel-body">
                <p>
                    <b>MISSION OF BSA:</b>
                    <ul>
                        <li>Promote supply of  quality seeds  when and where  needed and at reasonable prices for farmers</li>
                        <li>Develop the seed industry in a healthy, stable, and sustainably growing atmosphere inculcating the collaborative spirit among all parties.</li>
                        <li>Promote   appropriate regulation by representing interests of all members   through lobbying  with the government in the process of reviewing the seed laws, decrees, rules of the Bangladesh seed industry</li>
                        <li>Increase access and usage of information and new seed technologies, including management, marketing and collective promotion to expand the base of high-quality seed available to farmers in the domestic and foreign markets alike.</li>
                        <li>Promote development and breeding of new varieties.</li>

                    </ul>
                </p>
                <p>
                    <b>VISION OF BSA:</b> To serve the nation by ensuring availability of quality seeds for the farmers at affordable price.
                </p>


            </div>
        </div>
    </div>
</div>
