
@{
    ViewBag.Title = "NewMemberRules";
}
<style>
    .vhr {
        border-right: 1px solid #333;
        height: 100%;
    }

    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }
</style>

<div class="row"><br />
    <div class="col-md-12 "> 
        <div class="panel panel-info bxshadow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <b>New Member Rules</b>
                    </div> 
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-6 ">
                    <ol>
                        <li>Have a Business Identification Number (BIN)</li>
                        <li>Have a Shop</li>
                        <li>Long term business plan</li>
                        <li>Monitor activities of the  seed sector </li>
                        <li>Figure out any potential area for fundraising activities for the BSA</li>
                        <li>Advocacy  with  government on behalf of member/BSA concerns</li>
                         
                        <li>Office, accounting, and computing machinery			    </li>
                        <li>Electrical apparatus, telecommunications equipment		</li>
                        <li>Audio-visual equipment							        </li>
                        <li>Medical appliances, precision equipment				    </li>
                        <li>Transport equipment	                                    </li>
                    </ol>
                </div> 
            </div>
        </div>
    </div>
</div>

