
@{
    ViewBag.Title = "Objectives of Bsa";
}


<style>
    .vhr {
        border-right: 1px solid #333;
        height: 100%;
    }

    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }
</style>
<br />
<div class="row">
    <div class="col-md-12 ">


        <div class="panel panel-info bxshadow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <b>OBJECTIVES OF BSA</b>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="col-md-12">
                    <p>
                        <ul>
                            BSA has following major operational objectives. These objectives are to be achieved through targeting to accomplish one goal within stipulated time frame. With the achievement of each goal BSA will gain strength in moving one step forward to establishing itself as a full-fledged self-sustaining service oriented association.
                            <li>To protect and represent the interest of activities of members of seed industry by initiating and influencing decisions which affect them.</li>
                            <li>To encourage production and use of high quality seeds,  and discourage the use of inferior seeds,</li>
                            <li>To promote export of quality seeds produced in Bangladesh.</li>
                            <li>To assist Government in matters relating to rules and regulations to create a healthy seed environment matching with the mainstream of global seed industry.</li>
                            <li>To promote and encourage plant breeding and research in the private sector.</li>
                            <li>To negotiate and cooperate with international and regional organizations like ISF, APSA, AVRDC, SSF, ISTA, UPOV, and with those organization related to seed and agriculture.</li>
                            <li>Systematically exchange information on various aspects of seed, including breeding, production, testing, control, and marketing, etc. regionally and internationally.</li>
                            <li>To disseminate technical know-how to the farmers through BSA members, dealers and retailers.</li>
                            <li>To maintain an excellent relationship with organizations involved in agriculture and seed, research, extension in the country and abroad.</li>

                        </ul>

                    </p>
                </div>
            </div>
        </div>
    </div>

</div>