
@{
    ViewBag.Title = "ObjectiveOfBsa";
}

<h2></h2>

<br />

<style>
    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info bxshadow">
            <div class="panel-heading">
                <b>Operations Abroad</b>
            </div>
            <div class="panel-body">
                <p>BSA is closely working in India for establishing business setup. S P A C L is searching business partner to penetrate into African and Middle East market. Targeted companies will be jointly involved in providing various systems and solutions to different economic sectors and are considered as one of the fastest growing and leading solution provider company. </p>
            </div>
        </div>
    </div>
</div>