
@{
    ViewBag.Title = "OfficeOrganogram";
}

<style>
    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }

    .bxshadowTitle {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 60px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        padding: 10px;
        height: 50px;
        font-weight: 300;
        font-size: larger;
    }
</style> 
<script src="~/Scripts/tree_maker-min.js"></script>
<link href="~/Content/tree_maker-min.css" rel="stylesheet" />
<br />
<div class="row bxshadow">

    <div class="alert alert-success"> <b> Office Organogram</b></div> 
    <div id="my_tree"></div>
    <div id="my_tree"></div>
</div>
    <script type="text/javascript">
        let tree = {
            1: {
                2: {
                    8: {
                        12: {
                            3: '',
                            4: '',
                        },
                    },
                    9: {
                        5: '',
                    },
                    10: {
                        13: '',
                    },
                },
            },
        };





        let treeParams = {
            1: { trad: 'President' },
            2: { trad: 'Senior Assitant President' },
            3: { trad: 'Manager' },
            4: { trad: 'Manager 2' },
            //Manager
            6: { trad: 'General Secretary' },
            7: { trad: 'Assistant Secretary' },

            8: { trad: 'General Secretary' },
            9: { trad: 'Assistant Secretary' },

            10: { trad: 'Assistant Secretary' },
            11: { trad: 'Assistant Secretary' },

            //CEO
            12: { trad: 'CEO' },
            13: { trad: 'CEO' },
            5: { trad: 'CEO' },

        };

        treeMaker(tree, {
            id: 'my_tree', card_click: function (element) {
                console.log(element);
            },
            treeParams: treeParams,
            'link_width': '4px',
            'link_color': '#2199e8',
        });
    </script>



