
@{
    ViewBag.Title = "OrganizationalHistoryOfBsa";
}

<style>
    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }
</style>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info bxshadow">
            <div class="panel-heading"><b>ORGANIZATIONAL HISTORY OF BSA   </b></div>
            <div class="panel-body">


                <p><b>Founded in 1999</b>, named as Bangladesh Seed Growers, Dealers & Merchants Association (BSGDMA) which was the largest and leading seed association of private sector agribusiness companies of Bangladesh. BSGDMA intends to be known as the national Bangladesh Seed Association (BSA) in 2009. As of such, it will be the apex body of various informal and formal seed associations throughout the country. BSA is organizing the National Seed Fair and Congress since 2009 with the collaboration of Seed Wing, Ministry of Agriculture, Bangladesh. The mission of BSA is to ensure production and supply of best quality seeds among the farmers throughout the country at an affordable price so that farmers’ productivity and income increase. BSGDMA has obtained approval of Federation of Bangladesh Chamber of Commerce and Industry (FBCCI) for transforming   its name BSGDMA to BSA.</p>
                <p>As part of its long term effort to provide improved services/products to its members in order to assist the development of the seed sector of Bangladesh, BSA has taken some significant initiatives in conjunction with different development partners. With this development in mind BSA would have to create a visionary plan for realizing its full potential.</p>
                <p>These initiatives are envisaged to become the groundwork of developing BSA’s own organizational capacity in the following general areas:</p>
                <ul>
                    <li>Preparation and implementation of Strategic  Business Plan          </li>
                    <li>Provision of services / products provide to the members             </li>
                    <li>Advocacy  with  government on behalf of member/BSA concerns         </li>
                    <li>Figure out any potential area for fundraising activities for the BSA</li>
                    <li>Monitor activities of the  seed sector                              </li>
                </ul>
                First in the line of initiatives is the preparation of business plan of the association. This business plan is being visualized to be the guideline for developing and achieving strategic goals.

            </div>
        </div>
    </div>


</div>