
@{
    ViewBag.Title = "OurTeam";
}

<h2>OurTeam</h2>

<style>
 

    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }
</style>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info bxshadow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <b>Our Team</b>
                    </div> 
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                     
                        <li>
                            Our staff have built successful and reputable name throughout the areas we operate in and beyond that have not only changed lives but empowered the business communities of the areas we worked with.
                        </li>
                        <li>
                            The board, managers, personnel & administrative staff work together to provide effective products, solutions and services to our clientele.
                        </li>
                        <li>
                            As a merit employer, we compensate and promote each employee based on his or her skills during their tenure with the company.</p>
                        </li>
                     
                </div>


                <div class="col-md-6">
                   <img src="~/Images/6146_PostCover_GreatTeamwork.jpg" width="500" />
                </div>
            </div>
        </div>
    </div>
</div>
