
@{
    ViewBag.Title = "QualificationCapacityExpertise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Qualification Capacity Expertise</h2>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    .vhr {
        border-right: 1px solid #333;
        height: 100%;
    }

    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }
</style>
<br />
<div class="row">
    <div class="col-md-12 ">

        <div class="panel panel-info bxshadow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <b>Qualification, Capacity & Expertise</b>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-12">

                    <ul>
                        <li> <b> Financial stability and project financing capacity:</b> </li>
                        <p> The following five strategies to help us to maintain financial stability for our business:</p>
                        <ol type="T">
                            <li>Have an emergency fund saved up.</li>
                            <li>Pay off existing debt and avoid acquiring more.</li>
                            <li>Pay ourselves first.</li>
                            <li>Set up automatic payments for ourselves and our customers.</li>
                            <li>Live and operate our business below our means.</li>
                        </ol>

                        @*=============*@

                        <br />
                        <li> <b>The following five parties finance to complete our project</b> </li>
                        <p> The following five strategies to help us to maintain financial stability for our business:</p>
                        <ol type="T">
                            <li>Banks</li>
                            <li>Individuals or Parties</li>
                            <li>Shareholder/Sponsors</li>
                            <li>Third Party Investors</li>
                        </ol>




                        @*=============*@

                        <br />
                        <li> <b>Project management controls, extent to which any work would be subcontracted:</b> </li>
                        <p> The projects are controlled in the following five phases-</p>
                        <ol type="T">

                            <li>Initiation              </li>
                            <li>Planning                </li>
                            <li>Execution               </li>
                            <li>Monitoring & Evaluation </li>
                            <li>Closing                 </li>
                        </ol>




                        @*=============*@

                        <br />
                        <li> <b>Quality assurance procedures and risk mitigation measures.</b> </li>
                        <p> BSA’s inspectors verify the quality of mass production based on our Acceptable Quality Limits (AQL), performs product function and safety tests and assess compliance with our products specifications and authorized samples. We also check the suitability to load and distributes with proper safety and quality.</p>
                        <p>
                            The main tests performed during the inspection:
                        </p>
                        <ol type="T">
                            <li>Performance Check           </li>
                            <li>Size Measurement            </li>
                            <li>Materials & Color Check     </li>
                            <li>Physical quality            </li>
                            <li>Chemical quality            </li>
                        </ol>
                        <p>
                            To succeed in the risky period if arise, BSA involves another quality assurance team for quality control and solving the problem identifying any problems as early as possible.
                        </p>
                    </ul>


 
                  
                   

                    	Organization’s commitment to sustainability:
                    BSA adopts sustainability practices like other big company to embrace sustainability. BSA incorporates recycled goods in our manufacturing supply chains. BSA requires its transportation fleets to be more efficient. It is reducing energy consumption in day to day operations.

                    Incorporating sustainability into our business is an important step. But it is equally important to communicate our commitment internally among our team, and externally to business partners, suppliers, customers and other stakeholders.
                    -	by communicating internally in a clear and consistent fashion, sustainability becomes an ingrained part of our company culture-One that our employees can take pride in increasing our satisfaction.
                    -	by communicating externally to business partners, suppliers and service providers. We set expectations about how we do business. This can influence our practices and practices in the broader community, too.
                    -	an by communicating to customers, we demonstrate that our share our customers commitment to our environment. More and more customers expect this kind of commitment from the companies we buy from.


                    To demonstrate how we plan to integrate sustainability measures in the execution of the contract have been shown in following figure.

                </div>
            </div>
        </div>
    </div>
</div>


