
@{
    ViewBag.Title = "QualityAssurance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quality Assurance</h2>

<style>
    .vhr {
        border-right: 1px solid #333;
        height: 100%;
    }

    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }
</style>
<br />
<div class="row">
    <div class="col-md-12 ">

        <div class="panel panel-info bxshadow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <b>Service</b>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <ol>
                        <li>Architecture, engineering, construction			</li>

                        	BSA follows PDCA cycle or Deming cycle for quality assurance.
                        The phases of this cycle are:
                        •	Plan
                        •	Do
                        •	Check
                        •	Act

                        These above steps are repeated to ensure that processes to be evaluated and improved on a periodic basis.
                        Let's look into the above steps in detail -
                        •	Plan - BSA plans and establishes the process related objectives and determine the processes that are required to deliver a high-Quality end product.
                        •	Do - Development and testing of processes and also "do" changes in the processes
                        •	Check - Monitoring of processes, modify the processes, and check whether it meets the predetermined objectives
                        •	Act - Implement actions that are necessary to achieve improvements in the processes
                        BSA must use Quality Assurance to ensure that the product is designed and implemented with correct procedures. This helps reduce problems and errors, in the final product.

                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


