
@{
    ViewBag.Title = "Provided Service";
}

<style>
    .vhr {
        border-right: 1px solid #333;
        height: 100%;
    }

    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }
</style>
<br />
<div class="row">
    <div class="col-md-12 ">
       
        <div class="panel panel-info bxshadow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <b>SERVICES OF BSA</b>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-11">
                    <b>Most of the services identified by members of BSA through member survey are enlisted below:</b>
                    <ol>
                        <li>Develop and maintain good relations with the Government and work for developing a suitable legal and regulatory environment through modifications to rules, regulations, & policies.</li>
                        <li>Compile and disseminate information technical and seed marketing reports among members (e.g., brochures, newsletters/bulletins, annual report, scientific publications, etc.)</li>
                        <li>Forecast and identify national and international seed industry trends</li>
                        <li>Develop calendar of events (national / international; e.g., seminar, trainings, workshops, etc.) and  Organizing the annual National Seed Fair / SAARC Seed Forum / other seed fairs (regional / district) which provides a forum for a technical conference, seed exhibition and business negotiations by participants through increased domestic and international contacts with trade, research, production, marketing, other professional, and public officials</li>
                        <li>Promote product / organizing awareness campaigns / initiating publicity to build public awareness.</li>
                        <li>Build relationships with seed related research organizations and/or government institutes throughout Bangladesh to promote varietal development, technology development, and other important issues for the country’s seed industry</li>
                        <li>Providing litigation support</li>
                        <li>Providing business counseling services</li>
                        <li>Assisting in seed testing services</li>
                        <li>Providing assistance in seed certification services</li>
                        <li>Monitoring of seed such as TLS (truthfully labeled seed)</li>
                        <li>Developing and maintaining association website</li>
                        <li>Supporting improved linkages and communication to accessories industries, such as fertilizer, compost, pesticide, growth hormone, plant regulator, and others as needed by members</li>
                        <li>Developing Membership directory</li>
                        <li>Developing, promoting and institutionalizing code of ethics for the industry</li>
                        <li>Organizing annual picnic</li>
                        <li>Well beings of the members and members family</li>

                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

