
@{
    ViewBag.Title = "SubCommittee";
}

<h2>Sub Committee</h2>


<style>
    .vhr {
        border-right: 1px solid #333;
        height: 100%;
    }

    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }
</style>
<br />
<div class="row">
    <div class="col-md-12 ">
        <div class="panel panel-info bxshadow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <b> BSA Sub-Committees will be as follows:</b>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-11">
                    <ol>
                        <li>Finance &amp; Membership Sub-Committee,  </li>
                        <li>Discipline &amp; Vigilance Sub-Committee </li>
                        <li>Import &amp; Export Sub-Committee,       </li>
                        <li>Rice Seed Sub-Committee,                 </li>
                        <li>Vegetable Seed Sub-Committee,            </li>
                        <li>Potato Seed Sub-Committee and            </li>
                        <li>Maize Seed Sub-Committee.                </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
