
@{
    ViewBag.Title = "UnderConstruction";
}

@*<h2>Existing Client List</h2>*@
@*<hr style="border-color:red; padding:0px;margin-top: 10px;margin-bottom: 20px; border-width: 2px;" />*@
<h4><b>@*This page is under Construction*@</b></h4>

<div class="row">
    <div style="padding-left:200px">         
        <img src="~/Images/UnderConstruction2.jpg" alt="This page is under Construction" width="600" height="400" />
    </div>
</div>